@import './src/variables';

.location {
    color: $fontColour;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #406367;
    display: inline-block;
}