@import './src/variables';

.middle-wrapper {
    position: relative;
}
.title {
    color: $fontColour;
    font-size: 20px;
    line-height: 1.2;
    padding: 10px;
    position: relative;

    &>span{
        &:hover {
            cursor: pointer;
            background-color: $fontColour;
            color: $offerBackground;
        }
    }
}
