@import './src/variables';

.observe-btn {
    text-align: right;
    &>span{
        &.hidden{
            visibility: hidden;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover+.hidden{
            visibility: visible; //bajer, żeby pojawiał się napis Obserwuj po najechaniu na guzik, to pewnie do ogarnięcia inaczej niż stylami, ale chciałam się pobawić :D 
        }
    }
}