@import './src/variables';

.observe-btn {
    width: 200px;
    border: none;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    text-align: right;
    background-color: $offerBackground;
    stroke: darkred;
    transition: all 0.3s ease-out;
    fill: transparent;
    cursor: pointer;

    &>svg {
        height: 24px;
    }

    &__text-hidden {
        visibility: hidden;
        padding-right: 6px;
        color: #909090;
    }

    &:hover {
        fill: darkred;

        .observe-btn__text-hidden { //da się tutaj to jakoś krócej zapisać? 
            visibility: visible;     
        }
    }

    &--clicked {
        fill: darkred;
    }
}