@import './src/variables';

.observe-btn {
    border: none;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    background-color: $offerBackground;
    stroke: darkred;
    transition: all 0.3s ease-out;
    fill: transparent;
    cursor: pointer;

    &__text-hidden {
        visibility: hidden;
        padding-right: 6px;
        color: #909090;
        @media (max-width: 500px){
            display: none;    
        }  
    }

    &:hover {
        fill: darkred;

        .observe-btn__text-hidden { 
            visibility: visible;    
        }
    }

    &--clicked {
        fill: darkred;
    }
}