@import './src/variables';

.observe-btn {
    width: 200px;
    border: none;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    text-align: right;
    background-color: $offerBackground;
    stroke: darkred;
    fill: transparent;

    .hidden {
        visibility: hidden;
        padding-right: 6px;
        color: #909090;
    }

    &:hover {
        cursor: pointer;
        fill: darkred;

        .hidden {
            visibility: visible;
        }
    }


    &.clicked {
        fill: darkred;
    }
}