@import './src/variables';

.sorting {
    &-box{
        padding: 10px;
        text-align: right;
    }
    
    &__label{
        color: $fontColour;
    }

    &__select{
        border: none;
        font-size: 16px;
        color: $fontColour;
        padding: 10px;
        border-radius: 4px;
    }
}