@import './src/variables';

.sorting {
    &-box{
        padding-top: 10px;
        max-width: 845px;
        text-align: right;
    }
    &-label{
        color: $fontColour;
    }

    &-select{
        border: none;
        font-size: 16px;
        color: $fontColour;
        padding: 10px;
    }

}